/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

/*********************/
/* FONTS */
/*********************/

@font-face {
    font-family: "Union Regular";
    src: url("../fonts/union_regular.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Union Italic";
    src: url("../fonts/union_regular_italic.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Union Ribbon";
    src: url("../fonts/union_sma_ribbon.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* standaard kleuren */
	--color-black:#000000;
	--color-white:#ffffff;
	--color-book:#22ff06;
	--color-link-hover: #EBEAE8;
	--color-textlink-hover: #9E9E9C;
	--color-unbubble: #FFD515;
	--color-essentials: #43BCBC;

	/* dark mode kleuren */
	--dark-background:#000000;
	--dark-book:#22ff06;
	--dark-link-hover:#515050;
	--dark-textlink-hover:#606058;
	--dark-essentials:#2a7272;
}

/****************/
/* JOUW STYLING */
/****************/
body {
	background-color: var(--color-white);
}

header {
	position: sticky;
	top: 0;
	/* width: 100%; */
	background-color: var(--color-white);
	font-family: "Union Regular";
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header a {
	text-decoration:none;
}
header section {
	background-color: var(--color-black);
	color: var(--color-black);
}
header section a {
	color: var(--color-black);
}

header button {
	display: grid;
	place-items: center;
	width:3em;
	aspect-ratio: 1/1;
	appearance:none;
	border:none;
	background-color: var(--color-white);
	position:relative;
	z-index: 1;
}

header button span {
	display:block;
	width: 1.5em;
	height: .2em;
	background-color: var(--color-black);
	grid-row-start: 1;
	grid-column-start: 1;
}

header button span:nth-child(1) {
	translate: 0-.5em;
}
  
header button span:nth-child(2) {
	translate: none;
}
  
header button span:nth-child(3) {
	translate: 0 .5em;
}

header section section {
	background-color: var(--color-black);
	color: var(--color-white);
	margin:0; 
	padding:4em 1em 0;
	list-style:none;
	
	position:fixed;
	inset: 0;

	translate:100%;
	width: 100%;
	right:0;
	left: auto;
	z-index: 0;
	/* transition:1s; */
}
header section section a {
	color: var(--color-white);
}
header section.menuOpen span:nth-child(1) {
	translate:0 0;
	rotate: 45deg;
	/* transition:0.2s; */
}
  
header section.menuOpen span:nth-child(2) {
	scale: 0 1;
}

header section.menuOpen span:nth-child(3) {
	translate:0 0;
	rotate: -45deg;
	/* transition:0.2s; */
}



header section section.menuOpen {
	/* JOUW CODE HIER - stap 4 */
	translate:0%;	
	z-index: 0;
}


header button:has( :checked ) {
	background-color: var(--color-black);

}



header button span.menuOpen {

	background-color: var(--color-white);

}

a {
	text-decoration: none;
    color: inherit;
}

header > a:nth-of-type(1) {
	background-color: var(--color-book);
	padding: .5em;
	margin: 10em;
	font-size:1em;

}

ul {
	margin: 0;         
    padding: 0; 
}

li {
	list-style-type: none; 
  
}

header section h2 {
	font-size: 4.5em;
}
header section h3 {
	font-size: 1.5em;
}

header section > a:nth-of-type(2) {
	background-color: var(--color-book);
	padding: .5em;
	margin: 10em;
	font-size:1em;
}

header section section li {
	margin: 0.5em;
}

header section section ul:nth-of-type(1){
	display: flex;
	flex-direction: column
}

header section section ul:nth-child(1){
	flex-direction: column;
}











footer {
	margin-top: 1em;
	background-color: var(--color-black);
	color: var(--color-white);
}








.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

header img {
	width: 1.5em;
}